body {
    background: linear-gradient(to bottom right, #ff6b6b, #dac02d);

    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;

    box-sizing: border-box;

}

.appvideo{
    display: flex;
    align-items: top;
    border: 5px solid #ffffff;
    border-radius: 10px;
}

.appcanvas{
    position: absolute;
    top: 100px;
}

.myapp{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    
}

.button{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 15px;
  position: relative;
  transition: all .35s;
  background-color: transparent;
  cursor: pointer;
}

.button span{
  position: relative;
  z-index: 2;
}

.button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff6b6b;
  transition: all .35s;
}

.button:hover{
  color: #ffffff;
}

.button:hover:after{
  width: 100%;
}

.button__green::after {
  background: #00ce34;
}

.button__logout:hover {
  color: #ffffff;
}

.footer-wrapper {
position: static;
bottom: 0;
}

.main-footer {
display: flex;
align-items: center;
justify-content: center;
padding: 0;
padding-top: 36px;
padding-bottom: 31px;
margin-top: 20px;

background-color: #ffffff;
opacity: 0.9;
width: 100%;
}

.footer-contacts {
font-size: 21px;
font-weight: bold;
text-align: center;

width: 400px;
padding-left: 132px;
margin: 0;
margin-top: -5px;
box-sizing: border-box;
}

.footer-social {
display: flex;
justify-content: center;
flex-wrap: wrap;

padding: 0;
margin: 0;
width: 400px;


list-style: none;
text-align: center;
}

.social-button {
display: flex;
align-items: center;
justify-content: center;
width: 46px;
height: 48px;
margin-right: 6px;
margin-bottom: 6px;
border-radius: 5px;

background-color: #ff6b6b;
}

.social-button:focus path {
opacity: 0.3;
}

.footer-social:last-child {
margin-right: 0;
}

.footer-social a {
background-color: #ff6b6b;
}

.footer-social a:hover {
background-color: #669ec0;
}

.footer-social a:focus {
background-color: #5496bd;
}

.footer-copyright {
width: 400px;
text-align: center;
margin: 0;
}

.wrapper-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.auth-form-container {
  border: 2px solid #fff;
  border-radius: 5px;
  width: 500px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-form, .register-form {
  display: flex;
  flex-direction: column;
  text-align: left;

  & input {
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

.title__h2 {
  margin: 0;
  margin-bottom: 20px;
}

.link-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 10px;


  &:hover {
    color: #547abd;
  }
}

.main-title {
  color: #fff;
}